# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = scrapy180804.settings

[deploy:121]
url = http://192.168.1.121:6800/addversion.json
project = scrapy180804

[deploy:122]
url = http://192.168.1.122:6800/addversion.json
project = scrapy180804
